{% extends "base.html" %}
{% load static %}

{% block title%}
Home
{% endblock %}
{% block content %} 
    <div class="container" style="margin-top: 20px; margin-bottom: 80px">   
    

    
    <div style="text-align: center; font-size: 35px">
    <h1 style = "font-size: 3em; font-family: monospace; font-color:grey; font-feature-settings: normal; font color: darkgray; font-weight: 400;font-style: normal; font-style: normal; font-variant-position: super;">except4try</h1>
    </div>
    <hr > 


    <div style="text-align: right; font-size: 10px">

    <h3 style = "font-size: 3em; font-family: monospace; font-color:grey; font-feature-settings: normal; font color: darkgray; font-weight: 400;font-style: normal; font-style: normal; font-variant-position: super;"> :: Get your exceptions handelled</h3>
    </div>
<br/>
    <br/>
    <hr/>
  
    

{% endblock %}