{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title%}
Answer
{% endblock %}
{% block css %} 
{% endblock %}

{% block content %} 
<div class="container">
<h2>Give your solution </h2>
<hr>
<hr>




<form action="." method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-success">
</form>

            

         </div>


 






{% endblock %}


{% block include_scripts %}



{% endblock %}

